<h1>Create Time Period</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'sprint_form', locals: {submitLabel: "Create New Period"} %>
  </div>
</div>

<%= link_to 'Back', sprints_path %>