<% if @taskstatus.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@taskstatus.errors.count, "error") %> prohibited
      this sprint from being saved:
    </h2>
    <ul>
      <% @taskstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>